name: Publish package to npm

on:
  workflow_dispatch:

jobs:
  npm_publish:
    name: "Publish to NPM"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Publish app to folder
        run: dotnet publish "src/McpServers.Playground/McpServers.Playground.csproj" -c Release -r win-x64 --self-contained /p:PublishReadyToRun=true /p:PublishSingleFile=true -o ./npm_publish

      - name: Generate version number with date and workflow Run Number
        id: version-creator
        run: |
          buildDay=`date +%Y.%m%d`
          tags="$buildDay.$GITHUB_RUN_NUMBER"
          echo "VERSION_TAG=$tags" >> $GITHUB_OUTPUT

      - name: Prepare npm package.json
        run: |
          cat <<EOT > ./npm_publish/package.json
          {
            "name": "@lancemccarthy/mcp-playground",
            "version": "${{steps.version-creator.outputs.VERSION_TAG}}",
            "description": "An MCP server containing proof of concept tools to experiment and explore model context protocol.",
            "publishConfig": {
              "access": "public"
            },
            "bin": {
              "mcp-playground": "McpServers.Playground.exe"
            },
            "files": [
              "*"
            ],
            "engines": {
              "node": ">=16.0.0"
            },
            "keywords": ["mcp", ".net", "playground"],
            "author": "Lance McCarthy",
            "license": "MIT"
          }
          EOT

      - name: Add .npmrc for authentication
        run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ./npm_publish/.npmrc
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Publish to npm
        run: npm publish --access public
        working-directory: ./npm_publish
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
