name: Publish image to DockerHub

on:
  workflow_dispatch:
  push:
    branches:
      - releases/*

env:
  REPOSITORY: "lancemccarthy/mcp-playground"
  TAG: "latest"

jobs:
  docker_publish:
    name: "Publish to Docker Hub"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Generate tag version
      id: tag-creator
      run: |
        buildDay=`date +%Y.%m%d`
        tags="$buildDay.$GITHUB_RUN_NUMBER"
        echo "VERSION_TAG=$tags" >> $GITHUB_OUTPUT

    - name: Get package metadata from Docker Hub
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{env.REPOSITORY}}
        tags: |
          type=raw,value=latest
          type=raw,value=${{steps.tag-creator.outputs.VERSION_TAG}}
          type=sha,format=short

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PAT}}

    - name: Delete Old Image(s)
      run: |
        curl -X DELETE -H 'Authorization: Bearer ${{secrets.DOCKERHUB_PAT}}' https://hub.docker.com/v2/repositories/${{env.REPOSITORY}}/tags/${{env.TAG}}/

    - name: Build and Publish Images
      uses: docker/build-push-action@v6
      with:
        context: src/McpServers.Playground
        platforms: linux/arm64,linux/amd64
        push: true
        tags: ${{steps.meta.outputs.tags}}
        labels: ${{steps.meta.outputs.labels}}
