name: Publish to Docker Hub

on:
  workflow_dispatch:

env:
  REPOSITORY: "lancemccarthy/mcp-playground"
  TAG: "latest"

jobs:
  docker_via_dockerfile:
    name: "Dockerfile build"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Get package metadata from Docker Hub
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{env.REPOSITORY}}

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PAT}}

    - name: Delete Old Image(s)
      run: |
        curl -X DELETE -H 'Authorization: Bearer ${{secrets.DOCKERHUB_PAT}}' https://hub.docker.com/v2/repositories/${{env.REPOSITORY}}/tags/${{env.TAG}}/

    - name: Build and Publish Images
      uses: docker/build-push-action@v5
      with:
        context: src/McpServers/McpServers.Playground
        platforms: linux/arm64,linux/amd64
        push: true
        tags: ${{env.REPOSITORY}}:${{env.TAG}}
